@charset "UTF-8";
	section { text-align:center; margin-bottom:50px;  }
	.center { 
		margin-top:80px; 
		width:1000px; 
		display:inline-block; 
	}
	h3 { 
		border-bottom:5px solid #4fa9de; 
		font-size:20px; 
		font-weight:bold; 
		display:inline-block;
	}
	.center>div { margin-top:50px; text-align:left; }
	
	.form-control { display:inline-block; width:100px; height:25px; }
	
	table { margin-top:20px; font-size:14px; margin-bottom:0; }
	table td { vertical-align:middle; }
	table th { border:1px solid lightgray; }
	table tr:first-child th, table tr:nth-child(2) th { background-color:rgb(247,248,249); }
	.price { color:rgb(249,143,83); font-weight:bold; }
	
	.count { border:1px solid lightgray; border-bottom:none; }
	.check { border-top:none; border-right:none; }
	.info { border-left:none; }
	
	.coin_box { 
		background-color:rgb(236,246,255);
		height:100px;
		border-top:1px solid rgb(109,174,226);
	 }
	 .coin_box p {
	 	font-weight:bold;
	 	float:right;
	 	margin:60px 10px 0 0;
	 }
	 .coin_box span { color:rgb(249,143,83); }
	  .btn { float:right; margin:10px 5px; }
	 .pay { background-color:rgb(7,114,215); color:white;  }
	 .pay:hover { background-color:rgb(4,72,134); color:white; }
	 .store { background-color:rgb(186,186,186); color:white; }
	 .store:hover { background-color:rgb(98,98,98); color:white; }
	 .delete { 
	 	border:1px solid lightgray; 
	 	color:gray; 
	 	padding:2px 10px;
	 	font-size:13px; 
	 }