@charset "UTF-8";
	section { text-align:center; margin-bottom:50px;  }
	.center { 
		margin-top:100px; 
		width:900px; 
		display:inline-block; 
	}
	h3 { 
		border-bottom:5px solid #4fa9de; 
		font-size:20px; 
		font-weight:bold; 
		display:inline-block;
	}	
	#board, #comment { float:left; margin-right:10px; text-decoration:none; margin-bottom:10px; }
	#delete { 
		float:right;
		text-decoration:none; 
		color:gray; 
		border:1px solid lightgray; 
		border-radius:5px; 
		padding:3px 10px;
		font-size:14px;
	}
	.center a:hover { text-decoration:underline; }	
	#board { color:rgb(3,199,90); border-right:1px solid lightgray; padding-right:10px}
	#comment { color:black; }
	
	.table { font-size:14px; width:100%; }
	.table tr:first-child th { background-color:rgb(247,248,249); border-top:1px solid lightgray; }
	.board_table tr:first-child th:nth-child(2) { width:85px; }
	.board_table tr:first-child th:nth-child(3) { width:638px; }
	
	.comment_table { display:none; }
	.comment_table td:nth-child(2) { width:600px; }
	.comment_table td:nth-child(3) { width:150px; }
	.comment_table td:last-child { width:120px; }
	
	.table_div { margin-top:40px; text-align:center; }