@charset "UTF-8";
	body { text-align:center; }
	section { display:inline-block; text-align:center; width:800px; }
	section>div { margin:80px 0; }
	.center { margin-top:150px; }
	h3 { 
		border-bottom:5px solid #4fa9de; 
		font-size:20px; 
		font-weight:bold; 
		float:left;
	}	
	
	#ok, #cancle { margin:5px; padding:2px 10px; }
	#ok { background-color:#4fa9de; color:white; }
	#ok:hover { background-color:rgb(23,86,123); }
	
	.table { border-top:1px solid; font-size:14px; margin-left:20px; }
	.table th { font-weight:normal; text-align:left; }
	.table th a { padding:1px 10px; font-size:14px; }
	.table th:first-child {
		 font-weight:normal; 
		 width:150px; 
		 margin-bottom:10px; 		 
		 background-color:rgb(247,248,249); 
		 vertical-align:middle;
	}
	.form-control { width:200px; display:inline-block; height:25px; font-size:14px; }
	.form-select { width:100px; display:inline-block; height:25px; padding:0 5px; font-size:14px;  }
	
	tr:nth-child(7) .form-control { width:80px; }
	.addr { width:400px; margin-bottom:5px; }