@charset "UTF-8";
	body { background-color:rgb(248,249,251); text-align:center; }
	header { background-color:white; }
	
	section { display:inline-block; width:1300px; margin:50px 0; }
	.left { 
		border:1px solid lightgray; 
		display:inline-block; 
		width:400px; height:450px;
		 float:left; 
		 margin-left:50px;
		 background-color:white;
	}
	.left p { text-align:left; font-weight:bold; color:#4fa9de; font-size:20px; margin:15px; }
	.left p>span { color:black; }	
	
	.img_div { display:inline-block; border-top:1px solid lightgray; border-bottom:1px solid lightgray; padding:10px; width:350px; }
	.point_div { margin-top:10px; }
	.left>a { text-decoration:none; color:gray; font-size:14px; }
	.left>a:hover { text-decoration:underline; }
	
	.center1, .center2, .center3 { 
		border:1px solid lightgray; 
		display:inline-block; 
		width:800px; height:150px; 
		background-color:white; 
		margin:5px 0;
	}
	.center1 p, .center2 p, .center3 p {
		font-weight:bold;
		font-size:18px;
		margin-left:30px;
	}
	.center1>div, .center2>div, .center3>div {
		display:inline-block;
		text-align:left;
		float:left;
		margin-top:35px;
	}
	.center1>div>div, .center2>div>div, .center3>div>div { margin-left:40px; }
	.center1 div a, .center2 div a, .center3 div a { text-decoration:none; color:gray; font-size:15px; }
	.center1 div a:first-child, .center1 div a:nth-child(2), .center2 div a:first-child,
	.center3 div a:first-child, .center3 div a:nth-child(2) { 
		border-right:1px solid; padding-right:10px; padding-left:5px; 
	}
	.center1 div a:hover, .center2 div a:hover, .center3 div a:hover { text-decoration:underline; }