div.recommend_house{
	width:1100px;
	height:470px;
	margin:auto;	
}
div.recommend_title{
	width:1100px;
	height:40px;
	margin:auto;
	text-align:center;
	line-height:40px;
	font-size:20px;
	text-decoration:underline;
	text-decoration-color:#4fa9de;
}
div.recommend_title2{
	width:1000px;
	height:40px;
	margin:auto;
	text-align:left;
	line-height:40px;
	font-weight:900;
	text-decoration:underline;
	text-decoration-color:#4fa9de;
}
div.recommend_content{
	width:1000px;
	height:400px;
	margin:auto;
	/*border:1px solid green;*/
	margin-top:10px;
}
div.img1,div.img2,div.img3{
	display:inline-block;
}
div.img1{
	margin-right:11px;
}
div.img2{
	margin-right:11px;
}

div.img1 img, div.img2 img, div.img3 img{
	width: auto; height: auto;
    max-width:320px;
    max-height:320px;
    border-radius:10px;
}
div.img_title1{
	width:320px;
	height:40px;
	line-height:40px;
	font-size:15px;
	text-align:center;
	font-weight:900;
}

div.img1_text{
	width:320px;
	height:40px;
	/* border:1px solid blue;  */
	font-weight:900;
	font-size:16px;
}
div.heart{
	width:13px;
    height:13px;
    background: rgb(246,246,246);
    position: relative;
    transform: rotate(45deg);
    line-height:13px;
    margin-right:10px;
    display:inline-block;
}
.heart::before {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    left: -50%;
    border-radius: 50%;
    background:  rgb(246,246,246);
 }
 .heart::after {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    top: -45%;
    left:-5%;
    border-radius: 50%;
    background:  rgb(246,246,246);
}

div.img1_text button{
	float:left;
	border:1px solid #4fa9de;
	background-color:#4fa9de;
	font-size:18px;
	line-height:40px;
	border-radius:10px;
	padding:0px 20px;
	color:white;
}
div.img_text2{
	width:100px;
	height:40px;
	/* border:1px solid red; */
	display:inline-block;
	margin-left:15px;
}
div.star_text{
	font-size:17px;
	display:inline-block;
	font-weight:900;
	line-height:40px;
	margin-left:10px;
	/* border:1px solid red; */
}
div.star-rating { 
	width:125px;
	/* border:1px solid violet; */
	vertical-align:middle;
	
}
div.star-rating,.star-rating span { 
	display:inline-block; 
	height:25px; 
	overflow:hidden; 
	background:url('http://localhost:9000/myjeju/images/star3.png');
	
}
div.star-rating span{ 
	background-position:left bottom; 
	line-height:0; 
	vertical-align:top; 
}
div.score{
	display:inline-block;
	font-size:17px;
	font-weight:900;
	height:25px;
	line-height:25px;
	vertical-align:middle;
}
div.detail_text{
	display:inline-block;
	border:2px solid #4fa9de;
	height:40px;
	line-height:30px;
	margin-left:10px;
	border-radius:10px;
	padding:0px 9px;
}
div.find_accomodation{
	width:1000px;
	height:500px;
	margin:auto;
	/* border:1px solid blue; */
}
div.find_title{
	width:1000px;
	height:40px;
	margin:auto;
	text-align:left;
	line-height:40px;
	font-weight:900;
	margin-bottom:20px;
	text-decoration:underline;
	text-decoration-color:#4fa9de;
}

/* 카카오 지도 API css*/
	.wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
    .wrap * {padding: 0;margin: 0;}
    .wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
    .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
    .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
    .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
    .info .close:hover {cursor: pointer;}
    .info .body {position: relative;overflow: hidden;}
    .info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
    .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
    .info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
    .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
    .info .link {color: #5085BB;}

/** 숙소 리스트 **/
div.accomodation_list{
	width:1000px;
	height:500px;
	margin:auto;
	/* border:1px solid blue; */
	margin-top:80px;
	margin-bottom:50px;	
}
div.accomodation_list_title{
	width:1000px;
	height:40px;
	margin:auto;
	text-align:left;
	line-height:40px;
	font-weight:900;
	text-decoration:underline;
	text-decoration-color:#4fa9de;
}
div.buttontext{
	display:inline-block;
	float:right;
	margin-bottom:20px;
}
div.buttontext input{
	border:2px solid #4fa9de;
	height:19px;
}
div.buttontext button{
	border:1px solid #4fa9de;
	background-color:#4fa9de;
	color:white;
	font-weight:900;
	font-size:14px;
	padding:2px 10px;
}

div.accomodation_list table{
	border-collapse:collapse;
	margin-top:20px;
	width:1000px;
	border:2px solid #4fa9de;
}
div.accomodation_list table th{
	padding:3px;
	background-color:#4fa9de;
	color:white;
}
div.accomodation_list table td{
	text-align:center;
	padding:5px;
	font-weight:900;
	border:2px solid #4fa9de;
}