@charset "utf-8";
*{
	margin:0; padding:0;	
	font-family:"맑은고딕";
}

.btn_style{
	width:100px;
	background-color:#4fa9de;
	border:1px solid #4fa9de;
	border-radius:10px;
	padding:10px;
	color:white;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	margin-top:20px;
	cursor:pointer;
}
.btn_style:hover{
	background-color:#268ecc;
	border:1px solid #268ecc;
}
.btn_style2{
	width:100px;
	background-color:white;
	border:2px solid #4fa9de;
	border-radius:10px;
	padding:10px;
	color:#4fa9de;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	margin-top:20px;
	cursor:pointer;
}
.btn_style2:hover{
	background-color:#4fa9de;
	color:white;
}
.btn_style3{
	width:50px;
	background-color:#4fa9de;
	border:1px solid #4fa9de;
	border-radius:5px;
	padding:5px 10px;
	color:white;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	/* margin-top:20px; */
	cursor:pointer;
}
.btn_style3:hover{
	background-color:#268ecc;
	border:1px solid #268ecc;
}
.btn_style4{
	width:100px;
	background-color:white;
	border:2px solid lightgray;
	border-radius:10px;
	padding:10px;
	color:lightgray;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	margin-top:20px;
	cursor:pointer;
}
.btn_style4:hover{
	border:2px solid #4fa9de;
	color:#4fa9de;
}
.btn_style5{
	width:65px;
	background-color:white;
	border:2px solid lightgray;
	border-radius:50px;
	padding:10px;
	color:lightgray;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	margin-top:20px;
	cursor:pointer;
}
.btn_style5:hover{
	border:2px solid #4fa9de;
	color:#4fa9de;
}

/**
*	travel_content
*/
div.travel_content{
	width:1000px;
	margin:80px auto;
	text-align:center;
}
div.travel_content>h3{
	display:inline-block;
	border-bottom:3px solid #4fa9de;
	padding-bottom:5px;
}

/**
*	recommend_zone
*/
section.recommend_zone{
/* border:1px solid red; */
	text-align:left;
	margin:50px 0;
}
div.travel_title{
	display:inline-block;
	border-bottom:2px solid #4fa9de;
	padding:0 5px 5px 5px;
	font-size:17px;
	font-weight:bold;
}
section.recommend_zone>div.travel_spot{
	width:1000px;
	text-align:center;
	margin-top:30px;
}
section.recommend_zone>div.travel_spot a>img{
	width:320px;
	height:240px;
	object-fit: cover;
	overflow:hidden;
	border-radius:5px;
	/* margin-right:8px; */
}
section.recommend_zone>div.travel_spot a>img:hover{
	border-radius:5px;
	filter:brightness(60%);
}
article.travel_spot1{
	display:inline-block;
}
article.travel_spot2{
	display:inline-block;
	margin:0 10px;
}
article.travel_spot3{
	display:inline-block;
}
div.spot_infor{
	text-align:left;
	padding-left:10px;
}
div.spot_infor>p.spot_name{
	font-size:17px;
	font-weight:bold;
	margin-top:10px;
}
div.spot_infor>p>span{
	font-size:14px;
	font-weight:bold;
	color:gray;
}
div.spot_infor>p.spot_tag{
	font-size:14px;
	margin-top:10px;
	color:gray;
}
button#heart_btn>img{
	vertical-align:middle;
	margin-left:-5px;
	padding-right:10px;
}
div.spot_infor>img{
	padding:0 10px;
}













/**
*	map_zone
*/
section.map_zone{
	text-align:left;
	margin:80px 0;
}
section.map_zone>div.travel_title{
	margin-bottom:30px;
}







/**
*	list_zone
*/
section.list_zone{
	text-align:left;
	margin:80px 0;
}
div.travel_search_zone{
	text-align:right;
}
input#travel_search{
	width:250px;
	height:28px;
	margin-top:10px;
	padding-left:5px;
	border:1px solid #a1a1a1;
	border-radius:4px;
}

table.travel_list{
    border-top:1px solid lightgray;
    border-collapse:collapse;
	width: 100%;
	margin-top:30px;
}
td {
    border-bottom:1px solid lightgray;
    padding:20px;
}
tr.travel_list1>td:first-child{
	width:200px;
}
td.travel_list_pic>img{
	width:200px;
	height:150px;
	overflow:hidden;
	object-fit:cover;
}
tr.travel_list1>td:nth-child(2){
	width:450px;
}

table.travel_list p.spot_name{
	font-size:17px;
	font-weight:bold;
	margin-top:10px;
}
table.travel_list p.spot_name>span{
	font-size:14px;
	font-weight:bold;
	color:gray;
}
table.travel_list p.spot_addr{
	font-size:14px;
	margin:10px 0;
	color:gray;
}
table.travel_list span.star_score{
	padding-left:10px;
}
button#more_infor{
	margin-left:10px;
}




button#more_btn>img{
	width:18px;
}
button#more_btn>img:last-child{
	display:none;
}
button#more_btn:hover img:first-child{
	display:none;
}
button#more_btn:hover img:last-child{
	display:inline-block;
}
